@model PrjFinal.Models.TableFinalExams1081703

@{
    ViewBag.Title = "第四題";
}
<form method="post" action="@Url.Action("QueryByID1")">
    <div class="panel panel-primary">
        <div class="panel-heading">資料查詢</div>
        <div class="panel-body">
            <p>
                送達地址包含文字：
                <input type="text" class="form-control" name="OrderAddress" required />
            </p>
            <p>
                <button type="submit" class="btn btn-primary">查詢</button>
            </p>
        </div>
    </div>
</form>